@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ccdfff;
}

nav {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: clamp(90px, 3em, 10em);
  width: 100vw;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 9;
  top: 0;
}

nav .logo {
  position: absolute;
  height: 80px;
  padding: 0.5em;
  width: 80px;
  overflow: hidden;
}

nav .logo img {
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .menu-btn {
  z-index: 2000;
  margin-top: 10px;
  float: right;
  height: 70px;
  padding: 0.5em;
  width: 70px;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 4%;
  cursor: pointer;
}

nav .menu-btn .burger1, nav .menu-btn .burger2 {
  position: absolute;
  height: 3px;
  width: 40px;
  background-color: #000;
}

nav .menu-btn .burger2 {
  top: 35%;
}

.menu-overlay {
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff6bb;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.menu-overlay #close {
  font-size: clamp(30px, 5vw, 10vw);
  position: absolute;
  top: 0;
  cursor: pointer;
}

.menu-overlay ul {
  list-style-type: none;
}

.menu-overlay ul li {
  opacity: 1;
  text-align: center;
  margin-right: 10px;
  padding: 1rem;
  font-size: clamp(30px, 4vw, 70px);
  font-family: 'Staatliches', cursive;
}

.menu-overlay ul a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 1rem;
  width: 300px;
  text-decoration: none;
  color: #001333;
}

.menu-overlay ul a:hover {
  color: white;
  background-color: #001333;
  border-radius: 0.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container {
  position: absolute;
  top: 4.5em;
  padding: 1em;
  margin: 1em;
  width: 90vw;
  overflow: hidden;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container img {
  position: absolute;
  height: 40%;
  width: 30vw;
  min-width: 200px;
  overflow: hidden;
  top: -2em;
  right: 1em;
  z-index: 1;
}

@media (min-width: 840px) {
  .container img {
    top: 3vh;
    width: 500px;
    height: 30%;
  }
}

.container .info {
  margin-right: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
  color: #005DFF;
  width: 100%;
  left: 1em;
}

.container .info h1 {
  font-family: 2em;
}

@media (min-width: 840px) {
  .container .info h1 {
    height: 100%;
  }
}

.container .info p {
  padding: 0.5em;
  width: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */