@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ccdfff;
}

nav {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 12vh;
  width: 100vw;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 9;
  top: 0;
}

nav .logo {
  position: absolute;
  height: 8vh;
  padding-top: 0.5em;
  width: 8vh;
  overflow: hidden;
}

nav .logo img {
  height: 8vh;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .menu-btn {
  z-index: 2000;
  margin-top: 10px;
  float: right;
  height: 70px;
  padding: 0.5em;
  width: 70px;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 4%;
  cursor: pointer;
}

nav .menu-btn .burger1, nav .menu-btn .burger2 {
  position: absolute;
  height: 0.2rem;
  width: 40px;
  background-color: #000;
}

nav .menu-btn .burger2 {
  top: 35%;
}

.menu-overlay {
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff6bb;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.menu-overlay #close {
  font-size: clamp(30px, 5vw, 10vw);
  position: absolute;
  top: 0;
  cursor: pointer;
}

.menu-overlay ul {
  list-style-type: none;
}

.menu-overlay ul li {
  opacity: 1;
  text-align: center;
  margin-right: 10px;
  padding: 1rem;
  font-size: clamp(30px, 4vw, 70px);
  font-family: 'Staatliches', cursive;
}

.menu-overlay ul a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 1rem;
  width: 300px;
  text-decoration: none;
  color: #001333;
}

.menu-overlay ul a:hover {
  color: white;
  background-color: #001333;
  border-radius: 0.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container {
  display: -ms-grid;
  display: grid;
  top: 10vh;
  position: relative;
  padding: 1em;
  margin: 1em;
  width: 90vw;
  overflow: hidden;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.container .info {
  width: 100%;
  height: 100%;
}

.container .info h1 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 5vw, 5rem);
}

.container .info p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

.container .img {
  width: 100%;
  overflow: hidden;
}

.container .img img {
  height: 50vh;
  width: 50vw;
}

.showcase {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fbff;
  margin-top: 30vh;
}

.showcase a {
  letter-spacing: 0.1em;
  font-size: 18px;
  color: #005DFF;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 0.5px solid #005DFF;
}
/*# sourceMappingURL=main.css.map */