@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

$colors: (
    primary: #005DFF,
    primary-light: lighten(#005DFF, 40%),
    primary-dark: darken(#005DFF, 40%),
    accent: #fff6bb,

);
$padding: 15px;
$borders: 15px;
@function color($color-name){
    @return map-get($colors, $color-name)
}

$desktop: 840px;

@mixin desktop { 
    @media (min-width: #{$desktop}){
        @content;
    }
}

body, html{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}
body{    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: color(primary-light);
    background-size: cover;
}
nav{
    height: 90px;
    width: 100vw;
    background: #fff;
}
.logo{
    position: absolute;
    height: 60px;
    width: 60px;
    left: 0;
    top:0;
    img{
        height: 80px;
        padding: 0.5em 0 0 1.5em;
        width: 80px;
        object-fit: cover;
    }
}
.burgerbar{
    position: fixed;
    margin: 1.4em;
    padding: 1em;
    width: 40px;
    height: 12px;
    right: 0;
    z-index: 1;

    .burger1{
        position: absolute;
        height: 2px;
        width: 40px;
        background-color: #000;

    }
    .burger2{
        position: absolute;
        height: 2px;
        width: 40px;
        background-color: #000;
        margin-top: 12px;
    }
}

.menu{
    z-index: 0;
    top: -200%; 

    position: absolute;
    background: color(primary);
    overflow: hidden;
    height: 100vh;
    width: 100%;
   .data{
       padding: 5em 5em 2em 0em;
       text-align: right;
       ul{
           list-style-type: none;
           padding-top: 5em;
            li:first-child{
                color: color(primary-light);
                text-decoration: underline;
                font-size: 24px;
                font-family: 'Bungee Outline', cursive;
            }   
            li:not(first-child){ 
                
                color: transparent;
                font-size: 2rem;
                a{  
                    font-family: 'Bungee Outline', cursive;
                    right: 50px;
                    color: #fff;

                    
                }


            }

       }
   }
}
#font1{

    top: 50%;
}
#font2{
    font-family: 'Montserrat', sans-serif;
}
