@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

$colors: (
    primary: #005DFF,
    primary-light: lighten(#005DFF, 40%),
    primary-dark: darken(#005DFF, 40%),
    accent: #fff6bb,

);
$padding: 15px;
$borders: 15px;
@function color($color-name){
    @return map-get($colors, $color-name)
}

$desktop: 840px;

@mixin desktop { 
    @media (min-width: #{$desktop}){
        @content;
    }
}


body, html{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: color(primary-light);
}
nav{
    position: fixed;
    box-sizing: border-box;
    height: 90px;
    width: 100vw;
    padding:1.5em;
    display: flex;
    align-items: center;
    background-color: #fff;
    .logo{
        position: absolute;
        height: 80px;
        padding:0.5em;
        width: 80px;
        overflow: hidden;
        img{
            height: 80px;
            object-fit: cover;
        }
        
    }
    .menu-btn{
        z-index: 2000;
        margin-top: 10px;
        float: right;
        height: 70px;
        padding:0.5em;
        width: 70px;
        overflow: hidden;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right:4%;
       cursor: pointer;
        .burger1, .burger2{
            position: absolute;
            height: 3px;
            width: 40px;
            background-color: #000;
        }
        .burger2{
            top:35%;
        }

    }

}
.menu-overlay{
    clip-path: circle(0%);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff6bb;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    #close{
        position: absolute;
        top: 0;
        cursor: pointer;
    }
    ul{
        list-style-type: none;
        li{
            opacity: 1;
            text-align: center;
            margin-right: 10px;
            padding: 1rem;
            font-size: 2rem;
            font-family: 'Staatliches', cursive;
            
        }
        a{                
            transition:all 0.2s ease;
            padding:1rem;
            width: 300px;
            text-decoration: none;
            color: color(primary-dark);
            &:hover{
                color: white;
                background-color: color(primary-dark);
                border-radius: 0.2rem;
                transition:all 0.5s ease;
            }
        }
    }
}