@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

$colors: (
    primary: #005DFF,
    primary-light: lighten(#005DFF, 40%),
    primary-dark: darken(#005DFF, 40%),
    accent: #fff6bb,

);
$padding: 15px;
$borders: 15px;
$font: 'Montserrat', sans-serif;
@function color($color-name){
    @return map-get($colors, $color-name)
}

$desktop: 840px;
$mobile: 500px;
@mixin desktop { 
    @media (min-width: #{$desktop}){
        @content;
    }
}
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;

    }
    
}


body, html{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: color(primary-light);
}
nav{
    position: fixed;
    box-sizing: border-box;
    height: 12vh;
    width: 100vw;
    padding:1.5em;
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 9;
    top: 0;
    .logo{
        position: absolute;
        height: 8vh;
        padding-top:0.5em;
        width: 8vh;
        overflow: hidden;
        img{
            height: 8vh;
            object-fit: cover;
        }
        
    }
    .menu-btn{
        z-index: 2000;
        margin-top: 10px;
        float: right;
        height: 70px;
        padding:0.5em;
        width: 70px;
        overflow: hidden;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right:4%;
       cursor: pointer;
        .burger1, .burger2{
            position: absolute;
            height: 0.2rem;
            width: 40px;
            background-color: #000;
        }
        .burger2{
            top:35%;
        }

    }

}
.menu-overlay{
    clip-path: circle(0%);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff6bb;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    #close{
        font-size: clamp(30px, 5vw, 10vw);

        position: absolute;
        top: 0;
        cursor: pointer;
    }
    ul{
        list-style-type: none;
        li{
            opacity: 1;
            text-align: center;
            margin-right: 10px;
            padding: 1rem;
            font-size: clamp(30px, 4vw, 70px);
            font-family: 'Staatliches', cursive;
            
        }
        a{                
            transition:all 0.2s ease;
            padding:1rem;
            width: 300px;
            text-decoration: none;
            color: color(primary-dark);
            &:hover{
                color: white;
                background-color: color(primary-dark);
                border-radius: 0.2rem;
                transition:all 0.5s ease;
            }
        }
    }
}
.container{
    display: grid;
    top:10vh;
    position: relative;
    padding: 1em;
    margin: 1em;
    width: 90vw;
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1em;
    .info{
        color:color(primary);
        z-index: 10;
        width: 100%;
        height: 100%;
        h1{
            font-family: $font;
            font-size: clamp(2rem, 5vw, 5rem);
        }
        p{
            font-family: $font;
            font-size: clamp(1rem, 1.5vw, 1.25rem);
        }
    }
    .img{
        z-index: 1;
        position: absolute;
        display: block;
        overflow: hidden;
        width: 50vw;
        top:5vh;
        left: 50vw;
        float: right;
        @include mobile(){
            width: 100vw;
            left: 25vw;
        }
@include desktop(){
    left: 60vw;
}
        img{
            object-fit: contain;
            height: 30%;
            width: 50%;
            min-height:200px;
            min-width: 200px;
            right: 0;
        }
    }
}
.showcase{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #fbff;
    margin-top: 30vh;
    a{
        letter-spacing: 0.1em;
        font-size: 18px;
        color: color(primary);
        font-family: 'Montserrat', sans-serif;
        border-bottom: 0.5px solid #005DFF;
    }
}