@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #005DFF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #003899;
}

body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ccdfff;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 12vh;
  width: 100vw;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 9;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .logo {
  position: absolute;
  height: 8vh;
  padding-top: 0.5em;
  width: 8vh;
  overflow: hidden;
}

nav .logo img {
  height: 8vh;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .menu-btn {
  z-index: 2000;
  margin-top: 10px;
  float: right;
  height: 70px;
  padding: 0.5em;
  width: 70px;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 4%;
  cursor: pointer;
}

nav .menu-btn .burger1, nav .menu-btn .burger2 {
  position: absolute;
  height: 0.2rem;
  width: 40px;
  background-color: #000;
}

nav .menu-btn .burger2 {
  top: 35%;
}

.menu-overlay {
  top: 0;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fff6bb;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.menu-overlay #close {
  font-size: clamp(30px, 5vw, 10vw);
  position: absolute;
  top: 0;
  cursor: pointer;
}

.menu-overlay ul {
  list-style-type: none;
}

.menu-overlay ul li {
  opacity: 1;
  text-align: center;
  margin-right: 10px;
  padding: 1rem;
  font-size: clamp(30px, 4vw, 70px);
  font-family: 'Staatliches', cursive;
}

.menu-overlay ul a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 1rem;
  width: 300px;
  text-decoration: none;
  color: #003899;
}

.menu-overlay ul a:hover {
  color: white;
  background-color: #003899;
  border-radius: 0.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container {
  display: -ms-grid;
  display: grid;
  top: 10vh;
  position: relative;
  padding: 1em;
  margin: 1em;
  width: 90vw;
  height: 70vh;
  overflow: hidden;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.container .info {
  color: #005DFF;
  z-index: 2;
  width: 90vw;
  height: 100%;
}

.container .info h1 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 5vw, 5rem);
}

.container .info p {
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

.container .img {
  z-index: 1;
  position: absolute;
  display: block;
  overflow: hidden;
  width: 50vw;
  top: 5vh;
  left: 50vw;
  float: right;
}

@media (max-width: 600px) {
  .container .img {
    width: 100vw;
    left: 25vw;
  }
}

@media (min-width: 840px) {
  .container .img {
    left: 60vw;
  }
}

.container .img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 30%;
  width: 50%;
  min-height: 200px;
  min-width: 200px;
  right: 0;
}

.skills {
  position: relative;
  height: auto;
  width: 100%;
  color: #4d4dff;
  font-family: "Montserrat", sans-serif;
  background-color: #ccdfff;
  margin-top: 20vh;
}

@media (min-width: 840px) {
  .skills {
    max-height: 100vh;
    overflow: hidden;
  }
}

.skills .myskills {
  margin: 1.5em 1.5em 0 1.5em;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding-bottom: 10vh;
}

@media (min-width: 840px) {
  .skills .myskills {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .skills .myskills {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.skills .myskills .card {
  color: #4d4dff;
  background-color: #F5F5F5;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 0px solid white;
}

@media (min-width: 840px) {
  .skills .myskills .card {
    height: 60vh;
  }
}

@media (max-width: 600px) {
  .skills .myskills .card {
    height: 60vh;
  }
}

.skills .myskills .card:hover {
  border-radius: 8px;
  -webkit-transition: border-radius 0s;
  transition: border-radius 0s;
  background-color: #ccdfff;
}

.skills .myskills .card:hover .card-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skills .myskills .card .card-img {
  margin-top: 0.5rem;
  width: 100%;
  height: 40%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.skills .myskills .card .card-img img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 100%;
  height: 100%;
}

.skills .myskills .card .info {
  margin-top: 1.5rem;
  color: #4d4dff;
}

.skills .myskills .card .info h1 {
  color: #4d4dff;
  margin-left: 1rem;
}

.skills .myskills .card .info p {
  color: #000;
  margin: 1rem;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
}

.showcase {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  background-color: #005DFF;
}

@media (min-width: 840px) {
  .showcase {
    height: 100vh;
    overflow: hidden;
  }
}

.showcase a {
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #003899;
  color: #fff;
  padding: 0.6em;
  margin: 0.4em;
  margin-top: 0;
  border-radius: 20px;
}

.showcase a:hover {
  text-decoration: underline;
}

.showcase .projects {
  margin: 3rem 1.5rem 1.5rem 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  padding-bottom: 1rem;
  justify-items: center;
}

@media (min-width: 840px) {
  .showcase .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .showcase .projects {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.showcase .projects .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  height: 70vh;
  width: 100%;
  background-color: #ccdfff;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 5px solid #0b4fc4;
}

@media (min-width: 840px) {
  .showcase .projects .card {
    height: 65  vh;
  }
}

@media (max-width: 600px) {
  .showcase .projects .card {
    height: 60vh;
  }
}

.showcase .projects .card .card-img {
  width: 100%;
  height: 40%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.showcase .projects .card .card-img:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.showcase .projects .card .card-img img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  width: 100%;
  height: 100%;
}

.showcase .projects .card .info {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  height: 50%;
  font-family: "Montserrat", sans-serif;
  color: #005DFF;
}

.showcase .projects .card .info h1 {
  color: #005DFF;
  margin: 0;
  letter-spacing: 0.04rem;
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.showcase .projects .card .info a {
  all: initial;
  position: relative;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: #005DFF;
  color: #fff;
  padding: 0.5em;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin-right: 2rem;
}

.showcase .projects .card .info p {
  font-size: 0.9rem;
}

.companies {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.companies h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 1rem;
  letter-spacing: none;
  margin: 0;
  font-size: clamp(2rem, 3vw, 5rem);
  font-family: 'Montserrat', sans-serif;
  color: #005DFF;
}
/*# sourceMappingURL=main.css.map */